/* You can add global styles to this file, and also import other style files */

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~@telerik/kendo-theme-default/styles/packages/all";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular2-busy/build/style/busy.css";
@import "partials/_mixin";

html,
body{
    height: 100%;    
}

.text-center {
    text-align: center;
}

.k-grid-content{
	height: calc(100% - 50px)!important;
}